.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  fieldset {
    width: 400px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
  }
  
  legend {
    text-align: center;
    font-weight: bold;
    color: #4267B2;;
    font-size: 20px;
    margin-bottom: 10px;
    font-family: "Roboto", Arial, sans-serif;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  input[type="text"], input[type="password"] {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
  }
  input{
    border: none;
    background-color: #f3f2f2;
  }
  
  .connexion-button {
    padding: 10px 20px;
    background-color: #4267B2;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .links {
    margin-top: 10px;
    text-align: center;
  }
  
  .links a {
    color: #4267B2;
    text-decoration: none;
  }
  
  .links .separator {
    margin: 0 5px;
  }
  .create-account-button {
    padding: 10px 20px;
    background-color: transparent;
    color: #4267B2;
    font-size: 16px;
    border: 1px solid rgb(212, 210, 210);
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Responsive Styles */
  @media (max-width: 600px) {
    .container {
      padding: 10px;
    }
  
    fieldset{
        width: 100%;
    }
  }    