body{
  padding: 0;
  margin: 0;
  position: relative;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  fieldset {
    width: 400px;
    border: none;
    padding: 20px;
  }
  
  legend {
    text-align: center;
    font-weight: bold;
    color: #4267B2;;
    font-size: 20px;
    margin-bottom: 10px;
    font-family: "Roboto", Arial, sans-serif;
  }
  .hr-container{
    display: flex;
    align-items: center;
  }

  .hr-container hr{
    flex-grow: 1;
    margin: 15px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  input[type="text"], input[type="password"] {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
  }
  input{
    border: none;
    background-color: #f3f2f2;
  }
  
  .connexion-button {
    padding: 10px 20px;
    background-color: #4267B2;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .links {
    margin-top: 10px;
    text-align: center;
  }
  
  .links a {
    color: #4267B2;
    text-decoration: none;
  }
  .ref{
    text-decoration: none;
    color: white;
  }
  
  .links .separator {
    margin: 0 5px;
  }
  .create-account-button {
    padding: 10px 20px;
    background-color: transparent;
    color: #4267B2;
    font-size: 16px;
    border: 1px solid rgb(212, 210, 210);
    border-radius: 5px;
    cursor: pointer;
  }
  .header{
    background-color: #e2e791;
    width: 100%;
    margin-bottom: 0;
  }
  .footer{
    margin-top: 0;
    position: absolute;
    right: 50%;
    top: 370px;
  }
  .footer-container{
    position: relative;
    color: rgb(55, 141, 180);
  }
  .francais{
    color: rgb(75, 73, 73);
  }
  .gauche{
    position: absolute;
    left: 20px;
  }
  .droite{
    position: absolute;
    right: 20px;
  }
  .bas{
    position: absolute;
    left: 40%;
    top: 140px;
    color: rgb(75, 73, 73);;
  }



  
  
  /* Responsive Styles */
  @media (min-width: 600px) {
    .container {
      display: flex;
      position: relative;
    }
    body{
      margin-left: 20px;
      margin-right: 20px;

    }
    
    fieldset{
        width: 100%;
        position: absolute;
        margin-right: 0;
        top: 50px;
    }
    .footer{
      margin-top: 50px;
    }
    .footer-container{
      position: relative;
      color: rgb(55, 141, 180);
    }
    .francais{
      color: rgb(75, 73, 73);
    }
    .gauche{
      position: absolute;
      left: 20px;
    }
    .droite{
      position: absolute;
      right: 20px;
    }
    .bas{
      position: absolute;
      left: 40%;
      top: 140px;
      color: rgb(75, 73, 73);;
    }
  }    